.container {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.drop-list{
  width: 200px;
  height: 400px;
  background-color: aquamarine;
}

.smooth-dnd-draggable-wrapper{
  padding: 10px;
  border: 1px solid aqua;
  border-radius: 5px;
  margin: 5px 10px;
  background-color: chocolate;
}

.drop-list__right{
  width: 320px;
  padding: 10px;
  margin: 5px;
  background-color: azure;
  box-shadow: 0 1px 1px rgb(0 0 0 / 12%), 0 1px 1px rgb(0 0 0 / 24%);
}